.containner {
    width: 100%;
    min-height: 100%;
    background: url('../../medias/images/dark_wood.png') 0 0 repeat;
    padding-top: 4em;
    .smoke {
        height: 500px;
        background: #fff;
        background-size: cover;
        position: relative;

        .smokeCanvas {
            height: 100%;
            width: 100%;
        }

    }
    .list{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding: 4em;
        .list-item{
            box-sizing: border-box;
            width: 19em;
            width: 30%;
            height: 12em;
            background: #fff;
            margin: 1em;
        }
    }
    
}
